// Intro Header
header.intro
  .intro-body
    .container
      .row
        .col-md-8.col-md-offset-2
          .brand-heading 
            include ../_includes/logo.html
  
          p.intro-text
            | Architecture d'Intérieur // Design // Décoration
          a.btn.btn-circle.page-scroll(href='#portfolio')
            i.fa.fa-angle-double-down.animated
